<mat-dialog-content>
    <h6 mat-dialog-title>Редактирование пользователя</h6>

    <mat-form-field style="width:49%;" appearance="outline">
        <mat-label>Имя</mat-label>
        <input #inputTitle matInput [(ngModel)]="firstName">
        <button matSuffix mat-icon-button
                aria-label="Clear" (click)="firstName=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field style="width:49%; margin-left:2%;" appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input #inputAuthor matInput [(ngModel)]="secondName">
        <button matSuffix mat-icon-button
                aria-label="Clear" (click)="secondName=''">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field style="width:100%;" appearance="outline">
        <mat-label>Почта</mat-label>
        <input #inputPage matInput [(ngModel)]="email">
        <button matSuffix mat-icon-button
                aria-label="Clear" (click)="email=''">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <!--<div *ngIf="dataSource.data.length > 0">
        <p>Книги у читателя</p>
        <div class="card">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let book" [style.background-color]="isExpired(book)"></td>
                </ng-container>

                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell
                        *matCellDef="let index = index"> {{index + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Название</th>
                    <td mat-cell *matCellDef="let book"> {{book.title}} </td>
                </ng-container>

                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef>Автор</th>
                    <td mat-cell *matCellDef="let book"> {{book.author}} </td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let book"> {{book.id}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let book; columns: displayedColumns;"></tr>
            </table>
        </div>-->
</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-12 text-center">
        <button mat-raised-button color="primary" (click)="save()">
            Сохранить
        </button>

        <button mat-raised-button (click)="cancel()">
            Отмена
        </button>
    </div>
</mat-dialog-actions>