<mat-dialog-content>
    <h6 mat-dialog-title>Удаление книги</h6>
    <div>
        <p>
            Вы уверены, что хотите удалить книгу "<span class="text-primary">{{book.title}}</span>" ?
        </p>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="col-12 text-center">
        <button mat-raised-button color="primary" (click)="confirm()">
            Удалить
        </button>

        <button mat-raised-button (click)="cancel()">
            Отмена
        </button>
    </div>
</mat-dialog-actions>