<mat-dialog-content>
    <h6 mat-dialog-title>Информация о книге</h6>
    <p>ID: <span class="text-primary">{{book.id}}</span></p>
    <p>Название: <span class="text-primary">{{book.title}}</span></p>
    <p>Автор: <span class="text-primary">{{book.author}}</span></p>
    <p>Кол-во страниц: <span class="text-primary">{{book.page}}</span></p>
    <p *ngIf="book.userId">Читатель: <span class="text-primary">{{book.userId.firstName}} {{book.userId.secondName}}</span></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="cancel()">
        Закрыть
    </button>
</mat-dialog-actions>