<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/nikita-dubrovsky-531814219/">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/nekit.d.26/">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://github.com/NikitaDubrovskii">
                        Portfolio
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://github.com/NikitaDubrovskii">prod. by Dubrovsky</a>
        </p>
    </div>
</footer>
